:root {
  --BrightOrange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);

  --Transparent: hsla(0, 0%, 100%, 0.75);
  --VeryLightGray: hsl(0, 0%, 95%);
}

main {
  background-color: var(--Transparent);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0 2em;
  box-sizing: border-box;
  font-family: "Lexend Deca", cursive;
}

section {
  max-width: 90vw;
  height: 600px;
}

section > div {
  width: 70%;
  margin: 0 auto;
}

section a {
  transition: all ease-in-out 0.4s;
}
.flex-container1 {
  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--BrightOrange);
}
.flex-container1 a {
  color: var(--BrightOrange);
}
.flex-container2 {
  background-color: var(--DarkCyan);
}
.flex-container2 a {
  color: var(--DarkCyan);
}
.flex-container3 {
  background-color: var(--VeryDarkCyan);
  border-radius: 0 0 0.5em 0.5em;
  margin: 0 0 2em 0;
}
.flex-container3 a {
  color: var(--VeryDarkCyan);
}

.btn:hover {
  background-color: transparent;
  color: var(--VeryLightGray);
  border: 2px solid var(--VeryLightGray);
}
section div img {
  margin: 3em 0;
}

section div h2 {
  text-transform: uppercase;
  font-size: 3em;
  font-family: "Big Shoulders Display", cursive;
  color: var(--VeryLightGray);
  margin: 0.5em 0;
}

section div p {
  color: var(--Transparent);
  font-size: 1.05em;
  line-height: 2em;
}

section div a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--VeryLightGray);
  padding: 1em 2em;
  border-radius: 10em;
  margin: 3em 0;
}

@media screen and (min-width: 992px) {
  main {
    margin: 0;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .flex-container1 {
    border-radius: 0.5em 0 0 0.5em;
  }
  .flex-container3 {
    border-radius: 0 0.5em 0.5em 0;
    margin: 0;
  }
  section {
    max-width: 30%;
    max-height: 70%;
  }
  section div img {
    margin: 1em 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  body {
    position: relative;
  }
  main {
    margin: 0;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
  }
  section {
    max-width: 25%;
    max-height: 70%;
  }
  section div img {
    margin: 1em 0 0 0;
  }
  .flex-container1 {
    border-radius: 0.5em 0 0 0.5em;
  }
  .flex-container3 {
    border-radius: 0 0.5em 0.5em 0;
    margin: 0;
  }
}
